#grid {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: auto min-content auto;
    grid-template-areas: 
    'as1 lg as2'
    'ft . .'
    ;
}

#logo {
    width: 50px;
}

section {
    display: flex;
    justify-content: center;   
    grid-area: lg;
    background-color: aqua;
    padding: 0.5em 3em;
}

ul {
    list-style: none;
    padding: 0;
}

.button {
    background-color: blue;
    padding: 0.25em;
    cursor: pointer;
}

#continue {
    font-size: 1em;
}

#newAccount {
    font-size: 0.5em;
}

a {
    text-decoration: none;
}

.responseButtons {
    padding-top: 0.75em;
}

.centerText {
    text-align: center;
}

.material-icons {
    font-family: Material Icons;
    cursor: pointer;
}

header {
    width: 99vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
}

footer {
    grid-area: ft;
}

#as1 {
    grid-area: as1;
}

#as2 {
    grid-area: as2;
}

.glide2 {
    display: none;
}

#close {
    align-self: flex-end;
    margin-right: 40vw;
}

.glide1 {
    background-color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
    position: fixed;
}