.glide1 {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
    position: absolute;
    border: none;
}

.glide2 {
    display: none;
}

#logo {
    width: 50px;
}

.material-icons {
    font-family: Material Icons;
    cursor: pointer;
}

header {
    width: 99vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
}

a {
    text-decoration: none;
    color: black;
}

#newPostSection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30vw;
    justify-self: center;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    align-self: center;
}

textarea {
    resize:none;
}

#newPostSection div {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}

#postTitle, #postContent {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0.75em;
    margin: 0.5em 0;
    width: 100%;
}

#postButton {
    background: #3498DB;
    color: white;
    padding: 0.75em 1.5em;
    border: none;
    border-radius: 4px;
    margin-top: 1em;
}

input[type="checkbox"] {
    accent-color: #3498DB;
    transform: scale(1.5);
    margin: 0 0.5em;
}

footer {
    position: absolute;
    background-color: white;
    width: 100vw;
    left: 0;
    bottom: 0;
    margin: 0;
}

footer a {
    display: block;
}